{% extends "base.twig" %}

{% block title %}
    Ajouter une entreprise - Kezan
{% endblock %}

{% block page_title %}
    Ajouter une entreprise
{% endblock %}

{% block content %}

    <div class="add-content">
        <form class="add-form" method="post" action="/ajouter_entreprise">

            <div class="form-group">
                <label>Nom entreprise</label>
                <input type="text" name="nom" required>
            </div>

            <div class="form-group">
                <label>Numéro de siret</label>
                <input type="text" name="siret" required>
            </div>

            <div class="form-group">
                <label>E-mail</label>
                <input type="email" name="email" required>
            </div>

            <div class="form-group">
                <label>Téléphone</label>
                <input type="tel" name="telephone" required>
            </div>

            <div class="form-group">
                <label>Adresse</label>
                <input type="text" name="adresse" required>
            </div>

            <div class="form-group">
                <label>Logo</label>
                <div class="file-upload-group">
                    <input type="text" readonly placeholder="Aucun fichier sélectionné" id="logoFileName">
                    <label for="logoUpload" class="file-upload-btn">
                        <i class="fa-solid fa-upload"></i>
                    </label>
                    <input type="file" id="logoUpload" name="logo" accept="image/*" style="display: none;">
                </div>
            </div>

            <div class="form-group">
                <label>Description de l'entreprise</label>
                <textarea name="description" rows="5" required></textarea>
            </div>

            <button type="submit" class="btn-primary add-submit">Ajouter</button>

        </form>
    </div>

{% endblock %}