{% extends "base.twig" %}

{% block title %}
    Importer des documents - Kezan
{% endblock %}

{% block page_title %}
    Importer des documents
{% endblock %}

{% block content %}

    <div class="add-content">
        <form class="add-form" method="post" action="/postuler" enctype="multipart/form-data">

            <div class="form-group">
                <label>CV</label>
                <div class="file-upload-group">
                    <input type="text" readonly placeholder="Aucun fichier sélectionné" id="cvFileName">
                    <label for="cvUpload" class="file-upload-btn">
                        <i class="fa-solid fa-upload"></i>
                    </label>
                    <input type="file" id="cvUpload" name="cv" accept=".pdf" style="display: none;">
                </div>
            </div>

            <div class="form-group">
                <label>Lettre de motivation</label>
                <div class="file-upload-group">
                    <input type="text" readonly placeholder="Aucun fichier sélectionné" id="lmFileName">
                    <label for="lmUpload" class="file-upload-btn">
                        <i class="fa-solid fa-upload"></i>
                    </label>
                    <input type="file" id="lmUpload" name="lettre_motivation" accept=".pdf" style="display: none;">
                </div>
            </div>

            <button type="submit" class="btn-primary add-submit">Envoyer ma candidature</button>

        </form>
    </div>

{% endblock %}