{% extends "base.twig" %}

{% block title %}
    Noter une entreprise - Kezan
{% endblock %}

{% block page_title %}
    Noter une entreprise
{% endblock %}

{% block content %}

    <div class="add-content">
        <form class="add-form" method="post" action="/noter_entreprise">

            <input type="hidden" name="entreprise_id" value="{{ entreprise.id ?? '' }}">

            <div class="form-group">
                <label>Entreprise</label>
                <input type="text" value="{{ entreprise.nom ?? '' }}" readonly>
            </div>

            <div class="form-group">
                <label>Note</label>
                <div class="star-rating">
                    <input type="radio" name="note" id="star5" value="5">
                    <label for="star5"><i class="fa-solid fa-star"></i></label>
                    <input type="radio" name="note" id="star4" value="4">
                    <label for="star4"><i class="fa-solid fa-star"></i></label>
                    <input type="radio" name="note" id="star3" value="3">
                    <label for="star3"><i class="fa-solid fa-star"></i></label>
                    <input type="radio" name="note" id="star2" value="2">
                    <label for="star2"><i class="fa-solid fa-star"></i></label>
                    <input type="radio" name="note" id="star1" value="1">
                    <label for="star1"><i class="fa-solid fa-star"></i></label>
                </div>
            </div>

            <div class="form-group">
                <label>Commentaire</label>
                <textarea name="commentaire" rows="5" placeholder="Votre avis sur cette entreprise..."></textarea>
            </div>

            <button type="submit" class="btn-primary add-submit">Envoyer</button>

        </form>
    </div>

{% endblock %}